/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*
{
    font-family: "Lato" sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7px;
    color: #777;
    padding: 15px;
}

.header
{
    height: 95vh;
    background-image: linear-gradient(to right, rgba(139, 112, 213, 0.795), rgba(40, 89, 180, 0.8)) , url(../img/mainpage.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
} 

.logo-box
{
    position: absolute;
    top: 5px;
    left: 5px;
}

.logo
{
    height: 70px;
}
.text-box{
    position: absolute;
    top: 50%;
    left: 50% ;
    transform: translate(-50%, -50%);
}

.heading-primary
{
    color: rgb(44, 219, 82);
    backface-visibility: hidden;
    margin-bottom: 60px;
    /* text-transform: uppercase; */
}

.heading-primary-main
{
    color: rgb(44, 219, 82);
    display: block;
    font-size: 80px;
    letter-spacing: 100px;
    font-weight: 400;
    margin-top: 20px;
    /* left: 60%; */
    animation-name: MoveInLeft;
    animation-duration: 2s;
}

.heading-primary-sub
{
    color: rgb(44, 219, 82);
    display: block;
    font-size: 30px;
    letter-spacing: 12.1px;
    font-weight: 700;
    margin-top: 20px;
    animation-name: MoveInRight;
    animation-duration: 2s;
}

@keyframes MoveInLeft
{
        0%
        {
            opacity: 0;
            transform: translateX(-100px);
        }

        80%
        {
            transform: translateX(20px);
        }
        100%
        {
            opacity: 1;
            transform: translate(0)
        }
}

@keyframes MoveInRight
{
        0%
        {
            opacity: 0;
            transform: translateX(100px);
        }

        80%
        {
            transform: translateX(-20px);
        }
        100%
        {
            opacity: 1;
            transform: translate(0)
        }
}

.btn:link,
.btn:visited
{
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px 40px;
    position: absolute;
    left: 24%;
    display: inline-block;
    border-radius: 100px;
    position: relative;
}

.btn:hover
{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active
{
    transform: translateY(-1px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); 
}

.btn-white 
{
    color: #777;
    background-color: #fff;
}

.btn::after
{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after
{
    background-color: #fff;
}

.btn:hover::after
{
    transform: scale(2);
    opacity: 0;
}






















/*  */