
@keyframes MoveUp
{
        0%
        {
            opacity: 0;
            transform: translateY(10rem);
        }

        80%
        {
            opacity: 0.7;
        }

        100%
        {
            opacity: 1;
            transform: translate(0)
        }
}

@keyframes MoveInLeft
{
        0%
        {
            opacity: 0;
            transform: translateX(-10rem);
        }

        80%
        {
            transform: translateX(2rem);
        }
        100%
        {
            opacity: 1;
            transform: translate(0)
        }
}

@keyframes MoveInRight
{
        0%
        {
            opacity: 0;
            transform: translateX(10rem);
        }

        80%
        {
            transform: translateX(-2rem);
        }
        100%
        {
            opacity: 1;
            transform: translate(0)
        }
}